:root{
  --main-color:orangered;
  --nav-color:transparent;
  --logo-color:orangered;
  --h1-size:52px;
  --sub-size:30px;
  --text-color:white;
  --bg-color:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  --nav-padding:15px;
  --font:calibri;
  --logo-size:20px;
  --nav-button-height: 40px;
  --nav-button-width:70px;
  --hero-button-padding: 15px 60px;
  --h1-padding:20px;
  --circle:50%;
  --footer-color:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
  --shadow:0 0 5px grey;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}




.loadcon{
  position: fixed;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.dotcon{
  display: flex;
  gap: 8px;
}
.dotcon .load:not(:nth-child(2)){
  animation-delay: 100ms;
}.dotcon .load:not(:nth-child(3)){
  animation-delay: 200ms;
}
@keyframes bounce {
  to{
    transform: translateY(12px);
  }
}
.dotcon .load{
  animation: bounce 300ms infinite ease-in-out alternate;
  height: 30px;
  width: 30px;
  background: var(--main-color);
  border-radius: 50%;
}

body{
  overflow-x: hidden;
}

.logo{
  display: flex;
  color:var(--logo-color);
  margin-left: 10px;
  font-size: var(--logo-size);
}

.logo span{
  color: var(--text-color);
}

.header span{
  color: var(--logo-color);
}

.hero{
  height: 100vh;
  width: 100%;
  background: var(--bg-color),url(./school.jpg)no-repeat center/cover;
}
nav{
  list-style: none;
  display: flex;
}
nav li a{
  width: 100%;
  display: flex;
  color: var(--text-color);  
  padding: var(--nav-padding);
  text-decoration: none;
}

.list{
  display: flex;
  position: absolute;
  right: 20px;
}

.list p{
  display: none;
}

.list button{
  color: var(--text-color);
  height: var(--nav-button-height);
  width: var(--nav-button-width);
  background: var(--logo-color);
  border: 0;
  margin-left: 5px;
  margin-top: 2px;
}

.active,nav li a:hover{
  border-bottom: 1px solid white;
}

.center:not(.btn){
  position: absolute;
  left: 50%;
  color: var(--text-color);
  top: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  align-items: center;
  height: 70vh;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.center h1{
  font-size: var(--h1-size);
}

.btn{
  /* background: var(--text-color); */
  width: 100%;
  padding: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  margin-top: 300px;
}

.btn button{
  padding: var(--hero-button-padding);
  font-size: 20px;
  border: 3px solid var(--text-color);
  background: var(--nav-color);
  color: var(--text-color);
  transition: 1.5s;
  margin: 10px;
}
.btn button:hover{
  padding: var(--hero-button-padding);
  /* background: var(--main-color); */
  border: 3px solid var(--main-color);
  border-radius: 15px; 
  margin: 15px;
  transform: rotate3d(360deg 360deg 360deg);
}

.btn button:nth-child(2){
  padding: var(--hero-button-padding);
  background: var(--main-color);
  transition: 1.5s;
  border: 3px solid var(--main-color); 
}

.btn button:nth-child(2):hover{
  padding: var(--hero-button-padding);
  font-size: 20px;
  border: 3px solid var(--text-color);
  background: var(--nav-color);
  color: var(--text-color);
  transition: 1.5s;
  margin: 10px;
}

.features{
  height: 100vh;
  width: 100%;
  position: relative;
  padding-bottom: 950px;
}

.head{
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: var(--h1-padding);
}

.head h1{
  font-size: var(--h1-size);
}

.head span{
  color: var(--main-color);
}

.card-holder{
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.card{
  height: 450px;
  width: 25%;
  background: var(--main-color);
  margin:250px 40px ;
  border-radius: var(--h1-padding);
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card:nth-child(2){
  transform: scale(1.2,1.2);
  margin: 0 20px;
  font-size: 20px;
}

.login-card{
  height: 550px;
  width: 25%;
  border: 3px solid var(--main-color);
  margin:250px 40px ;
  border-radius: var(--h1-padding);
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.login-card form{
  height: fit-content;
  width: 100%;
  gap: 10px;
}

.login-card form input{
  width: 90%;
  margin-top: 10px;
  padding: 10px 0;
  transition: 0.5s;
  outline: 0;
  border:0;
  border-bottom:2px solid gray;
}

.login-card form input:focus{
  border-color: var(--main-color);
}

.card .circle{
  height: 200px;
  width: 200px;
  border-radius: var(--circle);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -100px;
  background: var(--text-color);
  font-size: 40px;
  box-shadow: var(--shadow);
}

.login-card .circle{
  height: 200px;
  width: 200px;
  border-radius: var(--circle);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -100px;
  color: var(--text-color);
  background: var(--main-color);
  font-size: 40px;
  box-shadow: var(--shadow);
}


body{
  overflow-x: none;
}

.heading h2{
  font-size: var(--sub-size);
}

.text{
  text-align: center;
  color: var(--text-color);
  font-size: 20px;
}

.card button{
  padding: var(--hero-button-padding);
  font-size: 20px;
  border: 3px solid var(--text-color);
  background: var(--nav-color);
  color: var(--text-color);
  margin: 10px;
}

.login-card button{
  padding: var(--hero-button-padding);
  font-size: 20px;
  border: 3px solid var(--main-color);
  background: var(--nav-color);
  color: var(--main-color);
 border-radius: 15px;
  margin: 10px;
}


.courses{
  height: 250vh;
  width: 100%;
  background: var(--main-color);
}

.courses .head span{
  color: var(--text-color);
}

.c-container{
  height: fit-content;
  display: flex;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2,1fr);
}

.course{
  height: fit-content;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 50px;
}

.image{
  height: 200px;
  width: 100%;
  background: var(--text-color);
  color: black;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--logo-size);
}

.texts{
  width: 100%;
  height: 50px;
  text-align: center;
}

.button{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button button{
  width: 50%;
  height: 50px;
  font-size: 30px;
  border: 1px solid;
  color: white;
  background: var(--nav-color);
}

.testimonials{
  height: 100vh;
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.test{
  height:fit-content;
  width: 500px;
  background: var(--main-color);
  border-radius: var(--logo-size);
  margin-left: 10px;
  padding: 20px;
  box-shadow: inset 5px 5px 10px rgba(0,0,0,0.1),
  inset -5px -5px 10px rgba(0,0,0,0.1);
}

.holder{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pro{
  float: right;
  height: fit-content;
  width: 100%;
  display: flex;
}

.pro .img{
  height: 50px;
  width: 50px;
  border-radius: var(--circle);
  background: url(/sage/asap/dog.jpg)center/cover;
}

.pro .name{
  text-align: center;
  margin-left: 20px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pro .name:nth-child(2){
  width: 30%;
}

.head h2{
  font-size: var(--sub-size);
}

.registration{
  background: var(--main-color);
  height: 100vh;
  width: 100%;
}

.admission{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.tab:nth-child(3){
  display: flex;
}

.admission h1{
  font-size: var(--h1-size);
  color: var(--text-color);
  box-shadow: var(--shadow);
  padding: var(--h1-padding);
}

.registration form{
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
  /* background: var(--text-color); */
}

.registration input{
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}

.registration input.invalid {
  background-color: #ffdddd;
}

.registration .tab {
  display: none;
}

.registration button {
  background-color:var(--text-color);
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
}

.registration .step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

.step.finish {
  background:var(--text-color) ;
}

.registration text{
  color: var(--text-color);
}

.footer{
  height: 50vh;
  width: 100%;
  background: var(--footer-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 300px;
}

.footer h3{
  color: var(--main-color);
}

.comm,.quick{
  text-align: center;
}